.modal {
    width: 80%;
    position: fixed;
    top: 15vh;
    left: 10%;
    z-index: 175;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(51, 94, 47, 0.25);
    animation: slide-down 400ms ease-out forwards;
}

.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    background: rgba(0, 0, 0, 0.5);
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}