.modal {
  width: 80%;
  height: auto;
  position: fixed;
  top: 10vh;
  left: 10%;
  z-index: 175;
  overflow: hidden;
  padding: 0.75rem;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(51, 94, 47, 0.25);
  animation: slide-down 400ms ease-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow-y: auto;
}

.modal p {
  color: black;
}

.modal button {
  width: 10.5rem;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  background: rgba(0, 0, 0, 0.5);
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-grow: 0;
}

.details {
  width: 95%;
  height: 100%;
  margin-left: 1rem;
}

.details p {
  margin-top: 0.25rem;
}

.details h3 {
  margin-top: 1rem;
}

.details a {
  color: black;
  font-size: small;
}

.details a:hover {
  color: #485549;
}

.byline {
  font-size: small;
}

.image {
  flex-shrink: 0;
}

.image:hover {
  transform: scale(1.025);
  transition: linear 75ms;
}

.image img {
  width: 12rem;
  height: 16.8rem;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgba(51, 94, 47, 0.25);
}

.reviews {
  margin: 1rem 0;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 1007px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@media (max-width: 640px) {
  .modal {
    display: inline;
    width: 90%;
    top: 2vh;
    left: 5%;
    max-height: 95%;
    overflow-y: auto;
  }

  .content {
    display: inline;
  }

  .details {
    margin-left: 0;
    margin-top: 1rem;
  }
}
