.selector {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  background-color: #485549;
  color: #ffffff;
  padding: .75rem 1.5rem;
  border-radius: 230px;
  box-shadow: 0 2px 8px rgba(51, 94, 47, 0.25);
}

.selector select {
  width: 14rem;
  color: black;
  margin-top: 0.5rem;
  border-radius: 10px;
  border: none;
}

.selector button {
    background-color: #ffffff;
    color: #485549;
    border: none;
    border-radius: 15px;
    padding: .25rem .5rem;
}

.control {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
