.selector {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
  background-color: #485549;
  color: #ffffff;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(51, 94, 47, 0.25);
  width: 20rem;
  margin-top: 8rem;
  margin-left: 2rem;
  z-index: 0;
}

.selector select {
  width: 15rem;
  color: black;
  margin-top: 0.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 10px;
  border: none;
}

.selector select:hover,
.selector select:active
 {
  cursor: pointer;
}

.selector button {
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 0.25rem 0.75rem;
  margin-top: 0.5rem;

}

.selector button:hover,
.selector button:active {
  cursor: pointer;
  transform: scale(1.1);
  transition: linear 75ms;
}

.selector h3 {
  font-weight: 100;
}

.error {
  margin-top: .5rem;
  font-size: small;
  font-style: italic;
}

